.infoBox{
    flex: 1;
    cursor: pointer;
}

.infoBox:not(:last-child){
    margin-right: 15px;
}


.infoBox_cases {
    color: red;
    font-weight: 600;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.infoBox_total{
    color:grey;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}