.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .form-styles{
    border: 1px;
    border-color: skyblue;
    padding: 20px;
    border-radius: 10px ;
        
    
  }
 .d-grid{
    margin-bottom: 20px;
 }