:root {
  --colorOne: #03045e;
  --colorTwo: #0077b6;
  --colorThree: #00b4d8;
  --colorFour: #90e0ef;
  --colorFive: #caf0f8;
  --colorSix: #ffffff;
  --colorSeven: #111111;
  --colorEight: #c81d25;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

